.main-home {
    display: flex;
    flex-direction: column;

    .header-home {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .h1-home {

    }

    .section-home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .a-home {

    }

    .button-home {
        
    }

    
    
}